@using PortfolioAspNetCore.ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserViewModel

@{
	ViewData["Title"] = "Вход";
}

<div class="text-center">
	<form asp-action="SingIn" method="post">
		<h1>Вход</h1>
		<span asp-validation-for="Login" class="text-danger"></span>
		<input asp-for="Login" type="text" placeholder="Login" class="form-control" />

		<span asp-validation-for="Password" class="text-danger"></span>
		<input asp-for="Password" type="password" placeholder="Password" class="form-control" />

		<input type="submit" value="Войти" />
	</form>
</div>
